.admin-container {
  display: flex;
  min-height: 100vh;
  background: #0f172a;
  color: white;
  font-family: "Poppins", sans-serif;
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  background: #1e293b;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  font-size: 20px;
  margin-bottom: 40px;
}

.logo span {
  color: #10b981;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.3s;
}

.sidebar li:hover {
  background: #334155;
}

.sidebar .active {
  background: #10b981;
  color: black;
}

.logout-btn {
  background: #7f1d1d;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

/* MAIN */
.main {
  flex: 1;
  padding: 40px;
}

.cards {
  display: flex;
  gap: 20px;
  margin: 30px 0;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 15px;
  flex: 1;
}

.green {
  color: #10b981;
}

.chart-box {
  background: #1e293b;
  padding: 20px;
  border-radius: 15px;
}
